crewai
crewai-tools
langchain 
streamlit
sentence-transformers
chromadb
langchain-core
langchain-openai
langchain-huggingface
langchain-text-splitters
langchain-embeddings
langchain-vectorstores
python-docx
